@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}

.custom-restricted-width {
  width: 100px;
}
.custom-restricted-width li {
  height: auto;
}

button i {
  margin-right: 10px;
  margin-left: 0;
}

.login-prompt {
  margin: 250px 30% 0 30%;
  display: block;
}

.middle {
  margin: 0 auto;
}

.right {
  margin-right: 0;
  float: right;
}

.left {
  margin-left: 0;
}

.stats-graph {
  width: 300px;
  height: 300px;
}

.aug-table {
  border: none;
  width: 100%;
}
.aug-table tbody tr {
  color: black;
}
.aug-table tbody tr :nth-child(2), .aug-table tbody tr :nth-child(3), .aug-table tbody tr :nth-child(4), .aug-table tbody tr :nth-child(5) {
  background-color: #EAEAEA;
}

.aug-top-bar {
  padding-top: 0;
  text-align: right;
  background-color: #e9e9e9;
}
.aug-top-bar label {
  margin-right: 5px;
  margin-top: 5px;
}

.aug-header {
  padding: 0 0 30px 150px;
  background-color: #e9e9e9;
  text-align: left;
  margin-top: 0;
}
.aug-header h1 {
  margin: 0;
}

.content {
  padding-top: 50px;
}

.clear-head {
  background-color: #ffffff;
  visibility: none;
  width: 30%;
}

.aug-th {
  width: 35%;
  font-weight: normal;
  text-align: center;
  background-color: white;
  border-color: white;
}

.aug-tr-lead {
  width: 30%;
  color: black;
}

#menu {
  width: 250px;
}
#menu .pure-menu-item > .pure-menu-list li a {
  padding-left: 25px;
  text-transform: lowercase;
  text-transform: capitalize;
  color: #999;
}
#menu .pure-menu {
  text-transform: uppercase;
}
#menu .pure-menu ul {
  list-style: none;
}
#menu .pure-menu ul li a {
  color: white;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #1cb841;
  /* this is a green */
}

.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}

.button-warning {
  background: #df7514;
  /* this is an orange */
}

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}

.spinner {
  margin: 50px auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
