@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

$darkGray: #292A2D;
$primaryRed: #B70724;
$lightGray: #EFEFEF;

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
}

.custom-restricted-width {
	width: 100px;
	li {
		height: auto;
	}
}

.red {
  background-color: $primaryRed;
}

i.red {
  background: inherit;
  color: $primaryRed;
}

button i {
  margin-right: 10px;
  margin-left: 0;
}

.login-prompt {
	margin: 250px 30% 0 30%;
	display: block;
}

.middle {
	margin: 0 auto;
}

.right {
	margin-right: 0;
  float: right;
}

.left {
	margin-left: 0;
}

.stats-graph {
  width: 300px;
  height: 300px;
}

.aug-table {
  border: none;
  width: 100%;
  tbody {
    tr {
      color: black;
      :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5) {
        background-color: #EAEAEA;
      }
    }
  }
}

.table-wrapper {
  width: 70%;
}

html {
  background-color: #EFEFEF;
}

.aug-top-bar {
  padding-top: 0;
  text-align: right;
  background-color: #FFFFFF;
  border: none;
  label {
    margin-right: 5px;
    margin-top: 5px;
  }
}

#layout {
  padding-left: 250px;
  background-color: #EFEFEF;
  min-height: 100%;
}

.aug-header {
  padding: 0 0 30px 80px;
  background-color: #FFFFFF;
  text-align: left;
  margin-top: 0;
  h1 {
    margin: 0;
  }
}

.content {
  padding: 50px;
  // padding-top: 50px;
  min-width: 87%;
  margin: 0 auto;
  margin-top: 45px;
  background-color: #FFFFFF;
  // max-width: 100%;
  > div {
    background-color: white;
  }
}

.clear-head {
  background-color: #ffffff;
  visibility: none;
  width: 30%;
}

.aug-th {
  width: 35%;
  font-weight: normal;
  text-align: center;
  background-color: white;
  border-color: white;
}

.aug-tr-lead {
  width: 30%;
  color: black;
}

#menu {
  width: 250px;
  .menu-space {
    height: 30px;
    width: 100%;
  }
  .pure-menu-list .pure-menu-list li a {
    padding-left: 25px;

    // text-transform: lowercase;
    text-transform: capitalize;
    color: #999;
  }
  .pure-menu {
    text-transform: uppercase;
    > ul {
      list-style: none;
      > li {
        color: white;
        padding: 0.6em 0 0.6em 0.6em;
      }
    }
  }
}

//Home View css

.home-view {
  background: none;
  padding: 0;
  background-color: green;
  min-width: 93%;
  .home-channel {
    background: none;
    //Announcements channel
    .home-main-banner {
      background-color: #FFF;
      .banner {
        background-color: $darkGray;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 0 20px 20px;
        margin-top: 0;
      }
      form {
        padding: 20px;
        padding-top: 0;
        input[type="text"] {
          width: 80%;
        }
      }
      h4 {
        text-transform: uppercase;
        // padding-left: 20px;
        color: $primaryRed;
      }
    }
    //Announcement Style
    .home-announcement {
      background-color: #FFF;
      padding: 20px;
      margin-top: 10px;
      .announcement-date {
        // color: $lightGray;
        padding: 0;
        margin: 0;
      }
      h4 {
        color: $primaryRed;
        padding: 0;
        margin: 0;
      }
      .announcement-blurb {
        padding-top: 0;
        margin-top: 3px;
      }
      i {
        margin-left: 10px;
        padding: 2px;
      }
      i:hover {
      cursor: pointer;
      }
    }
  }
  //Quick Menu
  .quick-menu {
    background: none;
    .quick-item {
      background-color: $primaryRed;
      margin: 0 0 20px 0px;
      display: inline-block;
      width: 45%;
      height: 7em;
      &:hover {
        opacity: .7;
      }
      i {
        display: inline-block;
        color: white;
        margin: 25px 30px 0 40px;
        vertical-align: middle;
      }
      h3 {
        text-transform: uppercase;
        color: white;
        display: inline-block;
        vertical-align: middle;
        margin: 20px 0 0 0;
        // margin: auto;
        font-weight: bold;
        width: 100px;
      }
    }
  }
}

//Some pure button css that was left out for some reason
.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

// Spinner spinkit animation courtesy of @tobiasahlin

.spinner {
  margin: 50px auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}