<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="U Rec CMS">

    <title>U Rec &ndash; CMS</title>

    
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">

<link rel="stylesheet" href="css/pure-release-0.6.0/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/pure-release-0.6.0/side-menu.css">
    <!--<![endif]-->

<link rel="stylesheet" type="text/css" href="css/style.css">






  

  


    

    

</head>
<body>




<!-- === Main Content === -->

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div class="header aug-top-bar">
        <label for="logout-button">Hello, User!</label>
        <a href="#">Log out</a>
    </div>

    <div id="menu"></div>

    <div id="main">
        <div class="content">
            
        </div>
    </div>
</div>




<!-- === Views === -->

<script type="text/template" id="facility">
<div class="header aug-header">
    <h1>Facility</h1>
</div>
<div class="content">
    <div class="pure-g">
        <div class="pure-u-1-2"><div class="pure"><img src="http://dummyimage.com/300x300/000/ffffff.png&text=Sample+Image" class="pure-img middle" alt=""></div></div>
        <div class="pure-u-1-2"><div class="pure"><img src="http://dummyimage.com/300x300/000/ffffff.png&text=Sample+Image" class="pure-img middle" alt=""></div></div>
        <p><br></p>
        <div class="pure-u-1-2"><div class="pure"><img src="http://dummyimage.com/300x300/000/ffffff.png&text=Sample+Image" class="pure-img middle" alt=""></div></div>
        <div class="pure-u-1-2"><div class="pure"><img src="http://dummyimage.com/300x300/000/ffffff.png&text=Sample+Image" class="pure-img middle" alt=""></div></div>
    </div>
</div>
</script>

<script type="text/template" id="cms-menu">
<div class="pure-menu custom-restricted-width">
    <ul id="menu" class="pure-menu-list">
        <a class="pure-menu-heading" href="#">U Rec CMS</a>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item">
            <a href="#facility" class="pure-menu-link">Facility</a>
            <ul class="pure-menu-list">
                <li><a href="#" class="pure-menu-link">Hours</a></li>
                <li><a href="#" class="pure-menu-link">Incentive Programs</a></li>
                <li><a href="#" class="pure-menu-link">Events</a></li>
                <li><a href="#" class="pure-menu-link">Photos</a></li>
                <li><a href="#" class="pure-menu-link">View feedback</a></li>
            </ul>
        </li>
        <li class="pure-menu-item">
            <a href="#outdoorrec" class="pure-menu-link">Outdoor Rec</a>
            <ul class="pure-menu-list">
                <li><a href="#" class="pure-menu-link">Upcoming Trips</a></li>
                <li><a href="#" class="pure-menu-link">Photos</a></li>
            </ul>
        </li>
        <li class="pure-menu-item"><a href="#intramurals" class="pure-menu-link">Intramurals</a></li>
        <li class="pure-menu-item">
            <a href="#climbingwall" class="pure-menu-link">Climbing Wall</a>
            <ul class="pure-menu-list">
                <li><a href="#" class="pure-menu-link">Hours</a></li>
                <li><a href="#" class="pure-menu-link">Photos</a></li>
                <li><a href="#" class="pure-menu-link">Events</a></li>
            </ul>
        </li>
        <li class="pure-menu-item"><a href="#rentals" class="pure-menu-link">Rentals</a></li>
        <li class="pure-menu-item"><a href="#stats" class="pure-menu-link">Stats</a></li>
        <li class="pure-menu-item"><a href="#login" class="pure-menu-link">Login</a></li>
    </ul>
</div>
</script>

<script type="text/template" id="rentalItem">
<tr>
    <td class="aug-tr-lead"><%= name %></td>
    <td><%= s1 %></td>
    <td><%= s2 %></td>
    <td><%= s3 %></td>
    <td><%= s4 %></td>
    <td><%= f1 %></td>
    <td><%= f2 %></td>
    <td><%= f3 %></td>
    <td><%= f4 %></td>
</tr>
</script>


<script type="text/template" id="login-prompt">
<div class="content">
    <form id="login-form" class="pure-form login-prompt">
        <!-- <div id="load-ani" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div> -->

        <fieldset class="pure-group">
            <legend>Login</legend>
            <h2 class="pure-sub-header" <%= valid %>>Invalid login</h2>
            <!-- <label for="username">Username</label> -->
            <input id="username" class="pure-input-1" type="text" placeholder="Username">
            <!-- <label for="password">Password</label> -->
            <input id="password" class="pure-input-1" type="password" placeholder="Password">
            <button type="submit" class="pure-button pure-input-1 pure-button-primary">Login</button>
        </fieldset>
    </form>
    
</div>
</script>

<script type="text/template" id="home">
<div class="header aug-header">
    <h1>Home</h1>
</div>
<div class="content">
</div>
</script>


<!-- === Backbone and dependencies === -->

<script src="js/vendor/ui.js"></script>
<script src="js/vendor/jquery-2.1.3.min.js"></script>
<script src="js/vendor/underscore.js"></script>
<script src="js/vendor/backbone.js"></script>


<!-- === Backbone App === -->

<script src="js/App.js"></script>
<script src="js/models/rentals.js"></script>
<script src="js/collections/rentals.js"></script>
<script src="js/views/menu.js"></script>
<script src="js/views/about.js"></script>
<script src="js/views/login.js"></script>
<script src="js/views/home.js"></script>
<script src="js/views/rentals.js"></script>



<script type="text/javascript">
    window.onload = function() {
        app.init();
    }
</script>



</body>
</html>
