<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="U Rec CMS">

        <title>U Rec &ndash; CMS</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">

    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-theme-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheets/style.css">
  </head>
  <body>
    <div id="insert">

    </div>

    <script type="text/template" id="main">
      <div class="panel">
        <div class="splash-menu">
          <a href="#facility"><button>U-Rec Center</button></a>
          <a href="#outdoorrec"><button>outdoorrec</button></a>
          <a href="#climbingwall"><button>climbingwall</button></a>
          <a href="#intramurals"><button>intramurals</button></a>
          <a href="#rentals"><button>Rentals</button></a>
        </div>
      </div>
    </script>

    <script type="text/template" id="loading"></script>

    <script type="text/template" id="announcementTemplate">
      <% _.each(collection, function(model) { %>
        <div class="panel">
      		<div class="announcement">
      			  <!-- <img src="../urex-app-backend/public/<%=model.file_location%>" alt=""> -->
      				<h3><%=model.title%></h3>
      				<p class="message"><%=model.message%></p>
      		</div>
      	</div>
      <% }); %>
    </script>

    <script type="text/template" id="imageTemplate">
      <% _.each(collection, function(model) { %>
        <div class="image-container">
          <a data-featherlight="#image-<%= model.id %>">
            <img id="image-<%= model.id %>" src="../urex-app-backend/public/<%= model.file_location %>" title="<%= model.caption %>">
          </a>
          <p><%= model.caption %></p>
        </div>
      <% }); %>
    </script>

    <script type="text/template" id="eventTemplate">
      <% _.each(collection, function(model) { %>
        <div class="panel">
      		<div class="event">
      				<h3><%=model.title%></h3>
      				<div class="content">
                <!-- These will have conditionals, so if they don't have a value they won't show up -->
                <p class="start">Start Date: <%=model.start%></p>
                <p class="end">End Date: <%=model.end%></p>
                <p class="cost">Cost: $<%=model.cost%></p>
                <p class="spots">Spots: <%=model.spots%></p>
                <p class="gear">Gear needed: <%=model.gear_needed%></p>
      				  <p class="message"><%=model.description%></p>
      				</div>
      		</div>
      	</div>
      <% }); %>
    </script>

    <script type="text/template" id="facilityMenu">
      <div class="panel">
    		<div class="splash-menu">
    			<a href = "#facility/announcements"><button>Announcements</button></a>
    			<a href = "#facility/events"><button>Events</button></a>
    			<a href = "#facility/photos"><button>Photos</button></a>
    			<button>Facebook</button>
    		</div>
    	</div>
    </script>

    <script type="text/template" id="outdoorrecMenu">
      <div class="panel">
    		<div class="splash-menu">
    			<a href = "#outdoorrec/announcements"><button>Announcements</button></a>
    			<a href = "#outdoorrec/trips"><button>Trips</button></a>
    			<a href = "#outdoorrec/photos"><button>Photos</button></a>
    			<button>Facebook</button>
    		</div>
    	</div>
    </script>

    <script type="text/template" id="intramuralsMenu">
      <div class="panel">
    		<div class="splash-menu">
    			<a href = "#intramurals/announcements"><button>Announcements</button></a>
    			<!-- <a href = "#intramurals/events"><button>Events</button></a> -->
    			<a href = "#intramurals/photos"><button>Photos</button></a>
    			<button>Facebook</button>
    		</div>
    	</div>
    </script>

    <script type="text/template" id="climbingwallMenu">
      <div class="panel">
    		<div class="splash-menu">
    			<a href = "#climbingwall/announcements"><button>Announcements</button></a>
    			<a href = "#climbingwall/events"><button>Events</button></a>
    			<a href = "#climbingwall/photos"><button>Photos</button></a>
    			<button>Facebook</button>
    		</div>
    	</div>
    </script>

    <script type="text/template" id="homeTemplate">
      <div class="panel hours">
    		<p><%=name%> is currently: <p class="info">Open</p></p>
    		<br>
    		<p>Today's Hours:<p class="info">8am - 10am</p></p>
    		<br>
    		<br>
    		<button id="week-popup">This Week's Hours</button>
    	</div>

    	<div data-role="popup" id="hours-popup" data-overlay-theme="a" class="hours-popup panel">
          <h4 class="hours-title">This Week's Hours</h4>
      		<p class="info">Friday:</p> <p>7:00am - 10:00pm</p>
      		<br>
      		<p class="info">Saturday:</p> <p>7:00am - 10:00pm</p>
      		<br>
      		<p class="info">Sunday:</p> <p>7:00am - 10:00pm</p>
      		<br>
      		<p class="info">Monday:</p> <p>7:00am - 10:00pm</p>
      		<br>
      		<p class="info">Tuesday:</p> <p>CLOSED</p>
      		<br>
      		<p class="info">Wednesday:</p> <p>7:00am - 10:00pm</p>
      		<br>
      		<p class="info">Thursday:</p> <p>7:00am - 10:00pm</p>
      		<br>
    	</div>

      <%= menu %>

      <script type="text/javascript">
        $("#hours-popup").hide();
        $("#week-popup").on('click', function() {
          $("#hours-popup").slideToggle();
          // $(this).fadeOut();
        });
      </script>

    </script>

    <script type="text/template" id="rentalTemplate">
      <style>
          .selected {
            background-color: red;
            color: white;
          }
          .rentals-buttons {
            u-webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          .rentals-buttons span {
            width: 49%;
            display: inline-block;
          }
      </style>
      <div class="panel">
        <div class="rentals-buttons">
          <span class="student-button selected">Student</span>
          <span class="faculty-button">Faculty</span>
        </div>
      </div>
      <div class="panel">
        <table>
          <% _.each(collection, function(model) { %>
            <tr class="student">
              <td><%=model.name%></td>
              <td>$<%=model.student_pricing_1%></td>
              <td>$<%=model.student_pricing_2%></td>
              <td>$<%=model.student_pricing_3%></td>
              <td>$<%=model.student_pricing_4%></td>
            </tr>
            <tr class="faculty">
              <td><%=model.name%></td>
              <td>$<%=model.faculty_pricing_1%></td>
              <td>$<%=model.faculty_pricing_2%></td>
              <td>$<%=model.faculty_pricing_3%></td>
              <td>$<%=model.faculty_pricing_4%></td>
            </tr>
          <% }); %>
        </table>
      </div>
      <script type="text/javascript">
      $(".faculty").hide();
        $(".rentals-buttons").on('click', function() {
          console.log("switched");
          $(".student").toggle();
          $(".faculty").toggle();
          $(".student-button").toggleClass("selected");
          $(".faculty-button").toggleClass("selected");
        });
      </script>
    </script>


  </body>
  <footer>
    <!-- Backbone and dependencies -->
    <script src="js/vendor/jquery-2.1.3.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/spin.js"></script>

    <!-- Backbone App -->
    <script src="js/app.js"></script>

    <!-- Models -->
    <script src="js/models.js"></script>

    <!-- Collections -->
    <script src="js/collections.js"></script>
    <!-- Views -->
    <script src="js/views/views.js"></script>

    <script type="text/javascript">
    // $("#loading").hide();
      window.onload = function() {
          app.init();
          var opts = {
            lines: 13, // The number of lines to draw
            length: 15, // The length of each line
            width: 4, // The line thickness
            radius: 17, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
          };
          var spinner = new Spinner(opts).spin();
          $("#loading").append(spinner.el);
      }

    </script>

  </footer>
</html>
