@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Lato', sans-serif;
}

input, textarea {
  font-size: 1.3em;
}

button, .ui-btn {
  font-size: 1em;
}

body {
  padding: 5px;
  background: #efefef;
}

.ui-btn {
  background-color: #b70724;
  color: white;
  font-size: 35px;
}

.ui-header {
  background-color: #b70724 !important;
}

.ui-title {
  color: white;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: lighter;
}

.image-container {
  padding: 5px;
}
.image-container img {
  width: 100%;
}

.hours {
  text-align: center;
}
.hours p {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #949494;
}
.hours p.info {
  color: #b70724;
  padding-left: 10px;
}
.hours button {
  text-transform: uppercase;
  background-color: #b70724 !important;
  color: white !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin: 0 auto;
}

.hours-popup {
  padding: 20px;
}
.hours-popup h4 {
  text-align: center;
  color: #b70724;
  text-transform: uppercase;
}
.hours-popup p {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #949494 !important;
}
.hours-popup p.info {
  color: #b70724 !important;
  padding-left: 5%;
  font-weight: bold;
}

.photos-grid .ui-grid-b img {
  width: 100%;
}

.panel {
  padding: 5%;
  background: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
  /*font-size: 32px;*/
  /*font-color: $lightGray;*/
}
.panel button {
  border: 0;
}
.panel img.left-img {
  width: 20%;
}
.panel label {
  vertical-align: center;
  margin-top: 15px;
  color: #949494;
}
.panel input[type="submit"] {
  background-color: #b70724;
}
.panel .event img.eventImage {
  width: 30%;
}
.panel .splash-menu #FacilityAnnouncements {
  background-image: url("../../images/Facility1.png");
}
.panel .splash-menu #FacilityEvents {
  background-image: url("../../images/Facility2.png");
}
.panel .splash-menu #FacilityPhotos {
  background-image: url("../../images/Facility3.png");
}
.panel .splash-menu #FacilityFacebook {
  background-image: url("../../images/Facility4.png");
}
.panel .splash-menu #OutdoorRecAnnouncements {
  background-image: url("../../images/OutdoorRec1.png");
}
.panel .splash-menu #OutdoorRecTrips {
  background-image: url("../../images/OutdoorRec2.png");
}
.panel .splash-menu #OutdoorRecPhotos {
  background-image: url("../../images/OutdoorRec3.png");
}
.panel .splash-menu #OutdoorRecFacebook {
  background-image: url("../../images/OutdoorRec4.png");
}
.panel .splash-menu #ClimbingWallAnnouncements {
  background-image: url("../../images/ClimbingWall1.png");
}
.panel .splash-menu #ClimbingWallEvents {
  background-image: url("../../images/ClimbingWall2.png");
}
.panel .splash-menu #ClimbingWallPhotos {
  background-image: url("../../images/ClimbingWall3.png");
}
.panel .splash-menu #ClimbingWallFacebook {
  background-image: url("../../images/ClimbingWall4.png");
}
.panel .splash-menu #IntramuralsAnnouncements {
  background-image: url("../../images/Intramurals1.png");
}
.panel .splash-menu #IntramuralsPhotos {
  background-image: url("../../images/Intramurals2.png");
}
.panel .splash-menu #IntramuralsTwitter {
  background-image: url("../../images/Intramurals3.png");
}
.panel .splash-menu #Rentals {
  background-image: url("../../images/Rentals1.png");
}
.panel .splash-menu button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #b70724 !important;
  background-size: auto 100%;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1.3em 0;
  text-shadow: none;
  width: 100%;
  border: 0;
  margin-bottom: 0.4em;
}
.panel .splash-menu a {
  text-decoration: none;
}
.panel table {
  width: 100%;
}
.panel table tr {
  width: 100%;
  margin-bottom: 10px;
}
.panel table tr td:first-child, .panel table tr th:first-child {
  width: 50%;
  text-align: left;
}
.panel table tr td, .panel table tr th {
  font-size: .9em;
  width: 12%;
  text-align: center;
}
.panel table thead td {
  color: #b70724;
  font-weight: bold;
}
.panel table tbody td {
  color: #949494;
}
.panel .rentals-buttons {
  text-align: center;
  line-height: 3em;
}
.panel .rentals-buttons .selected {
  background-color: #b70724;
}

.panel.shout {
  display: inline-block;
}
.panel.shout img {
  width: 20%;
  float: left;
  vertical-align: top;
}
.panel.shout .shout-content {
  vertical-align: top;
}
.panel.shout .shout-content fieldset {
  word-wrap: normal;
  padding-left: 10px;
}
.panel.shout .shout-content .shout-title {
  color: #b70724;
  font-weight: bold;
}
.panel.shout .shout-content p {
  margin: 0;
  color: #949494;
  vertical-align: top;
}
