@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Lato', sans-serif;
}

.custom-restricted-width {
  width: 100px;
}
.custom-restricted-width li {
  height: auto;
}

.icon-hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

.red {
  background-color: #b70724;
  color: white;
}

.medGray {
  background-color: #949494;
  color: white;
}

button {
  color: white;
  text-transform: uppercase;
}

i.red {
  background: inherit;
  color: #b70724;
}

button i {
  margin-right: 10px;
  margin-left: 0;
}

.login-prompt {
  margin: 250px 30% 0 30%;
  display: block;
}

.middle {
  margin: 0 auto;
}

.right {
  margin-right: 0;
  float: right;
}

.left {
  margin-left: 0;
}

.stats-graph {
  width: 300px;
  height: 300px;
}

.content.login-view {
  text-align: center;
}
.content.login-view form {
  padding: 20px;
  border-radius: 1em;
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  background: #FFFFFF;
}

.round-button {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  display: inline;
}
.round-button i {
  margin: 0 !important;
  padding: 0;
}

.aug-table {
  border: none;
  width: 100%;
}
.aug-table tbody tr {
  color: black;
}
.aug-table tbody tr :nth-child(2), .aug-table tbody tr :nth-child(3), .aug-table tbody tr :nth-child(4), .aug-table tbody tr :nth-child(5) {
  background-color: #EAEAEA;
}

.table-wrapper {
  width: 70%;
}

html {
  background-color: #EFEFEF;
}

.aug-top-bar {
  padding-top: 0;
  text-align: right;
  background-color: #FFFFFF;
  border: none;
}
.aug-top-bar label {
  margin-right: 5px;
  margin-top: 5px;
}

#layout {
  padding-left: 250px;
  background-color: #EFEFEF;
  min-height: 100%;
}

.aug-header {
  padding: 0 0 30px 80px;
  background-color: #FFFFFF;
  text-align: left;
  margin-top: 0;
}
.aug-header h1 {
  margin: 0;
}

.content {
  min-width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 0;
}
.content > div {
  background-color: white;
}

.clear-head {
  background-color: #ffffff;
  visibility: none;
  width: 30%;
}

.aug-th {
  width: 35%;
  font-weight: normal;
  text-align: center;
  background-color: white;
  border-color: white;
}

.aug-tr-lead {
  width: 30%;
  color: black;
}

#menu {
  width: 250px;
}
#menu .pure-menu-heading {
  padding: 43px 0 42px 30px;
  background-color: #fff;
  color: #000;
}
#menu .menu-space {
  height: 30px;
  width: 100%;
}
#menu .pure-menu-list > li a {
  color: #FFF;
}
#menu .pure-menu-list .pure-menu-item {
  padding-left: 0;
}
#menu .pure-menu-list .pure-menu-list li a {
  padding-left: 25px;
  text-transform: capitalize;
  color: #999;
}
#menu .pure-menu {
  text-transform: uppercase;
}
#menu .pure-menu > ul {
  list-style: none;
}
#menu .pure-menu > ul > li {
  color: white;
  padding: 0.6em 0 0.6em 0.6em;
}

.home-view {
  background: none;
  padding: 0;
}
.home-view .home-channel {
  background: none;
}
.home-view .home-channel .home-main-banner {
  background-color: #FFF;
}
.home-view .home-channel .home-main-banner .banner {
  background-color: #292a2d;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 0 20px 20px;
  margin-top: 0;
}
.home-view .home-channel .home-main-banner form {
  padding: 20px;
  padding-top: 0;
}
.home-view .home-channel .home-main-banner form input[type="text"] {
  width: 80%;
}
.home-view .home-channel .home-main-banner h4 {
  text-transform: uppercase;
  color: #b70724;
}
.home-view .home-channel .home-announcement {
  background-color: #FFF;
  padding: 20px;
  margin-top: 10px;
}
.home-view .home-channel .home-announcement .announcement-date {
  padding: 0;
  margin: 0;
}
.home-view .home-channel .home-announcement h4 {
  color: #b70724;
  padding: 0;
  margin: 0;
}
.home-view .home-channel .home-announcement .announcement-blurb {
  padding-top: 0;
  margin-top: 3px;
}
.home-view .home-channel .home-announcement i {
  margin-left: 10px;
  padding: 2px;
}
.home-view .home-channel .home-announcement i:hover {
  cursor: pointer;
}
.home-view .quick-menu {
  background: none;
}
.home-view .quick-menu .quick-item {
  background-color: #b70724;
  margin: 0 0 20px 20px;
  display: inline-block;
  width: 44%;
  height: 6em;
}
.home-view .quick-menu .quick-item:hover {
  opacity: .7;
}
.home-view .quick-menu .quick-item i {
  display: inline-block;
  color: white;
  margin: 25px 10px 0 10px;
  vertical-align: middle;
}
.home-view .quick-menu .quick-item h3 {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 20px auto 0 auto;
  font-weight: bold;
  width: 100px;
}

.creation {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}
.creation img {
  width: 200px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.creation h3 {
  text-transform: uppercase;
  color: #b70724;
  margin: 0;
}
.creation h4 {
  color: #b70724;
  margin: 0;
}
.creation h5 {
  text-transform: uppercase;
  color: #949494;
  margin: 0;
}
.creation .creation-content {
  display: inline-block;
}
.creation .buttons-group {
  margin: 10px 20px 0 0;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
}
.creation .buttons-group button {
  color: #fff;
  text-transform: uppercase;
}
.creation .buttons-group i {
  margin-right: 10px;
  color: #b70724;
  vertical-align: middle;
}
.creation form {
  margin-top: 10px;
}
.creation form .firstLabel {
  width: 4em;
  text-align: left;
}
.creation form .break {
  height: 10px;
}
.creation form .secondLabel {
  width: 2em;
}
.creation form p {
  display: inline-block;
  margin-left: 10px;
}

.photos-view .pure-u-4-5 {
  padding: 20px;
}
.photos-view .pure-u-1-4 {
  text-align: center;
  margin-bottom: 20px;
}
.photos-view img {
  max-width: 90%;
  max-height: 120px;
  margin: 0 auto;
}
.photos-view img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.photos-view .perm-button {
  position: fixed;
  top: 170px;
  right: 1%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #1cb841;
  /* this is a green */
}

.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}

.button-warning {
  background: #df7514;
  /* this is an orange */
}

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}

.spinner {
  margin: 50px auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
